.input-group {
	margin-right: auto;
	margin-left: auto;
}

.index {
	background-color: #E8D0A9;
	text-align: center;
}

.checkmark {
	margin-right: auto;
	margin-left: auto;
}

.homepage {
	background-color: #E8D0A9;
	text-align: center;
}

.site-footer {
	background-color: #000;
	text-align: center;
	color: #fff;
	font-size: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-left: 0px;
}


.wynlogo
{
	width: 100%;
	min-width: 50px;
	max-width: 200px;
}

.li
 {
	list-style: none;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	text-indent: 500px;
}

.placeholder {
	padding: 10px 10px 10px 10px;
}

.profile {
	background-color: #E8D0A9;
}

.profilename {
	font-size: 40px
}

