.input-group {
	margin-right: auto;
	margin-left: auto;
}

.index {
	background-color: #E8D0A9;
	text-align: center;
}

.checkmark {
	margin-right: auto;
	margin-left: auto;
}

.homepage {
	background-color: #E8D0A9;
}